/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-upload-files {
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    max-width: 100%; /* Limita el ancho al 100% del padre */
}
